  <div class='col-xs-12 single walk-box user'>
  	<div class='col-xs-3 user'><%= image_tag 'user.png' %></div>
<div class='col-xs-6'><h3> <%= @user.email%></h3>
<p>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
<!-- http://www.dzone.com/snippets/date-time-format-ruby -->
<p><%= @user.comments.count %> total comments</p>
<p><%= @user.comments.where(:rating => '5_stars').count %> total 5 star reviews</p></div>

</div>