

  <div class='col-xs-10 col-xs-offset-1 single walk-box'>
    <h1>Edit <%= @place.name %></h1>
    <%= simple_form_for @place do |f| %>
   <p> <%= f.input :name %></p>
    <p><%= f.input :address %></p>
    <p><%= f.input :description %></p>
    <button class='btn btn-primary-custom pull-right'><%= link_to "Cancel", root_path %></button>
   
    <!-- if user is logged in and if user is attached to this place -->
    <%= f.submit 'Edit this place', :class => 'btn btn-primary-custom' %> 
<button class='btn btn-primary-custom pull-right'><%= link_to 'Delete this place', place_path(@place), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'} %></button>
  <% end %>
  </div>

