<div class='col-xs-10 col-xs-offset-1 walk-box'>
<h3>Share A Walk!</h3>
<%= simple_form_for @place do |f| %>
   <p> <%= f.input :name %></p>
    <p><%= f.input :address %></p>
    <p><%= f.input :description %></p>
    <%= f.submit 'Create', :class => 'btn btn-primary-custom' %>
  <% end %>
</div>