

  <div class='col-xs-10 col-xs-offset-1 walk-box'>
    <h1><%= @place.name %></h1>
    <i><%= @place.address %></i><br />
    <p><%= @place.description %></p>
        <% if @place.user.present? %>
      <small><%= @place.user.email %></small>
    <% end %>
     <p><% if current_user && current_user == @place.user %></p>
    <button class='btn btn-primary-custom'><%= link_to 'Edit', edit_place_path(@place) %></button>
    <% end %>
    
  </div>

